<div class="container">
	<h3 class="page-header">Cadastro Banco</h3>
	
	<div class="row">
	    <div class="form-group col-md-2">
	        <label for="inputID">ID</label>
	        <input type="text" class="form-control" id="inputID" readonly ng-model="banco.idBanco">
	    </div>
	    <div class="form-group col-md-4">
	        <label for="inputNmBanco">Nome</label>
	        <input type="text" class="form-control" id="inputNmBanco" placeholder="Digite o valor" ng-model="banco.nm_banco">
	    </div>
	</div>
	
	<hr />
	
	<div class="row">
	    <div class="col-md-12">
			<a href="/TCC-Entra21/dado-banco" class="btn btn-primary" ng-click="salvarBanco()" >Salvar </a>
	        <a href="/TCC-Entra21/dado-banco" class="btn btn-default">Cancelar</a>
	    </div>
	</div>	
	
</div>

