<meta charset="utf-8">
<div class="container">
	<h3 class="page-header">Cadastro Funcionário</h3>

	<div class="row">
		<div class="form-group col-md-2">
			<label for="inputID">ID</label> <input type="text"
				class="form-control" id="inputID" readonly
				ng-model="Func.id_funcionario">
		</div>
		<div class="form-group col-md-4">
			<label for="inputNmFuncionario">Nome: </label> <input type="text"
				class="form-control" id="inputNmFuncionario"
				placeholder="Digite o Nome" ng-model="Func.nm_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputSobreFuncionario">Sobrenome: </label> <input
				type="text" class="form-control" id="inputSobreFuncionario"
				placeholder="Digite o Sobrenome" ng-model="Func.sobre_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputCpfFuncionario">CPF: </label> <input type="text"
				class="form-control" id="inputCpfFuncionario"
				placeholder="Digite o CPF" ng-model="Func.cpf_funcionario">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="inputEndFuncionario">Endereço: </label> <input
				type="text" class="form-control" id="inputEndFuncionario"
				placeholder="Digite o Endereço" ng-model="Func.end_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputPisFuncionario">PIS: </label> <input type="text"
				class="form-control" id="inputPisFuncionario"
				placeholder="Digite o PIS" ng-model="Func.pis_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputTelFuncionario">Telefone: </label> <input
				type="text" class="form-control" id="inputTelFuncionario"
				placeholder="Digite o Telefone" ng-model="Func.tel_funcionario">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-3">
			<label for="inputFuncaoFuncionario">Função: </label> <input
				type="text" class="form-control" id="inputFuncaoFuncionario"
				placeholder="Digite a Função" ng-model="Func.funcao_funcionario">
		</div>
		<div class="form-group col-md-3">
			<label for="inputSalFuncionario">Salário: </label> <input
				type="text" class="form-control" id="inputSalFuncionario"
				placeholder="Digite o Salário" ng-model="Func.sal_funcionario">
		</div>
		<div class="form-group col-md-3"></div>
		<div class="form-group col-md-3">
			<label for="inputCargahFuncionario">Carga Horária: </label> <input
				type="text" class="form-control" id="inputCargahFuncionario"
				placeholder="Digite a Carga Horária"
				ng-model="Func.cargah_funcionario">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-6">
			<label for="inputEmailFuncionario">Email: </label> <input type="text"
				class="form-control" id="inputEmailFuncionario"
				placeholder="Digite o Email" ng-model="Func.email_funcionario">
		</div>
		<hr>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="inputLoginFuncionario">Login: </label> <input
					type="text" class="form-control" id="inputLoginFuncionario"
					placeholder="Digite o Login" ng-model="Func.login_funcionario">
			</div>
			<div class="form-group col-md-4">
				<label for="inputSenhaFuncionario">Senha: </label> <input
					type="text" class="form-control" id="inputSenhaFuncionario"
					placeholder="Digite a Senha" ng-model="Func.senha_funcionario">
			</div>

			<div class="form-group col-md-4">
				<label for="inputSenhaFuncionario">Confirme a Senha: </label> <input
					type="text" class="form-control" id="inputSenhaFuncionario"
					placeholder="Digite a Senha Novamente"
					ng-model="Func.senha_funcionario">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="inputFkFuncionarioAgencia">Código da Agencia: </label> <input
					type="text" class="form-control" id="inputFkFuncionarioAgencia"
					placeholder="Digite o Código da Agencia"
					ng-model="Func.fk_funcionario_agencia">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<a href="/TCC-Entra21/dado-func" class="btn btn-primary" ng-click="salvarFunc()">Salvar</a> 
				<a href="javascript:window.history.go(-1)" class="btn btn-default">Cancelar</a>
			</div>
		</div>
	</div>
</div>