      
    <div class="container" >
    
        <h1>Cadastro Cliente</h1>
        <br>
        <form action="index.html">
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="nm-funcionario">Nome: </label>
                    <input type="nome" class="form-control" id="nm-cliente" placeholder="Digite o Nome">
                </div>

                ​<div class="form-group col-md-2"></div>

                <div class="form-group col-md-5">
                    <label for="cpf-funcionario">CPF: </label>
                    <input type="cpf" class="form-control" id="cpf-funcionario" placeholder="Digite o CPF">
                </div>
            </div>
            ​
            <hr>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="num-cliente">Número: </label>
                    <input type="numero" class="form-control" id="num-cliente" placeholder="Digite o Número">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="index.html" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
