
<div class="container">
	<h3 class="page-header">Cadastro Conta</h3>
	
		<div class="row">
			<div class="row">
				<div class="form-group col-md-2">
					<label for="inputID">ID</label> <input type="text"
						class="form-control" id="inputID" readonly
						ng-model="conta.idConta">
				</div>
				<div class="form-group col-md-5">
					<label for="inputSaldoConta">Saldo: </label> <input type="text"
						class="form-control" id="inputSaldoConta" placeholder="Digite o Saldo"
						ng-model="conta.saldo_conta">
				</div>

				<div class="form-group col-md-5">
					<label for="inputlimiteConta">Limite: </label> <input type="text"
						class="form-control" id="inputlimiteConta"
						placeholder="Digite o Limite" ng-model="conta.limite_conta">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="form-group col-md-5">
					<label for="inputTpConta">Tipo da Conta: </label> <input type="text"
						class="form-control" id="inputTpConta"
						placeholder="Digite o Tipo da Conta" ng-model="conta.tp_conta">
				</div>

				<div class="form-group col-md-2"></div>

				<div class="form-group col-md-5">
					<label for="inputNumConta">Número: </label> <input type="text"
						class="form-control" id="inputNumConta" placeholder="Digite o Número"
						ng-model="conta.num_conta">
				</div>
				<div class="form-group col-md-5">
					<label for="inputEmprestimo">Emprestimo: </label> <input type="text"
						class="form-control" id="inputEmprestimo" placeholder="Digite o valor do Emprestimo"
						ng-model="conta.emprestimo_conta">
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-md-12">
					<a href="/TCC-Entra21/dado-conta" class="btn btn-primary"
						ng-click="salvarConta()">Salvar </a> <a
						href="/TCC-Entra21/dado-conta" class="btn btn-default">Cancelar</a>
				</div>
			</div>
		</div>
			</div>
		
		
	