<div id="top" class="row">
	<div class="col-sm-3">
		<h2>Bancos</h2>
	</div>
	<div class="col-sm-6">

		<div class="input-group h2">
			<input name="data[search]" class="form-control" ng-model="search" id="search" type="text"
				placeholder="Pesquisar Itens">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit" ng-click="listarBanco()">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>

	</div>
	<div class="col-sm-3">
		<a href="novo-banco" class="btn btn-primary pull-right h2">Cadastrar</a>
	</div>
</div> <!-- /#top -->

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table class="table table-striped" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th class="actions">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="banco in listaBanco | filter: search">
					<td>{{banco.idBanco}}</td>
					<td>{{banco.nm_banco}}</td>
					<td class="actions">
							<a class="btn btn-success btn-xs" href="visualizar-banco/{{banco.idBanco}}">Visualizar</a>
							<a class="btn btn-warning btn-xs"href="edit-banco/{{banco.idBanco}}" ng-click="editarBanco(banco)">Editar</a>
							<a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal"
							ng-click="deleteBanco(banco.idBanco)">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>