<div id="top" class="row">
	<div class="col-sm-3">
		<h2>Clientes</h2>
	</div>
	<div class="col-sm-6">

		<div class="input-group h2">
			<input name="data[search]" class="form-control" ng-model="search" id="search" type="text"
				placeholder="Pesquisar Itens">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit" ng-click="listarCliente()">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>

	</div>
	<div class="col-sm-3">
		<a href="novo-cliente" class="btn btn-primary pull-right h2">Cadastrar</a>
	</div>
</div> <!-- /#top -->

<div id="list" class="row">
	<div class="table-responsive col-md-12">
		<table class="table table-striped" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>CPF</th>
                    <th>Endereco</th>
                    <th>Telefone</th>
                    <th>Login</th>
                    <th>Senha</th>
                    <th>Email</th>
                    <th>ID Conta</th>
					<th class="actions">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cliente in listaCliente| filter: search">
					<td>{{cliente.idcliente}}</td>
                    <td>{{cliente.nm_cliente}}</td>
                    <td>{{cliente.sobre_cliente}}</td>
                    <td>{{cliente.cpf_cliente}}</td>
                    <td>{{cliente.end_cliente}}</td>
                    <td>{{cliente.tel_cliente}}</td>
                    <td>{{cliente.login_cliente}}</td>
                    <td>{{cliente.senha_cliente}}</td>
                    <td>{{cliente.email_cliente}}</td>
                    <td>{{cliente.fk_cliente_conta}}</td>		
									
					
					<td class="actions">
							<a class="btn btn-success btn-xs" href="visualizar-cliente/{{cliente.idcliente}}">Visualizar</a>
							<a class="btn btn-warning btn-xs"href="edit-cliente/{{cliente.idcliente}}" >Editar</a>
							<a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal"
							ng-click="deleteCliente(cliente.idcliente)">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



