<br>
<input type="text" ng-model="cliente.idcliente" style="width:22px;">
<input type="text" ng-model="cliente.nm_cliente">
<input type="text" ng-model="cliente.cpf_cliente">
<input type="button" value="Salvar" ng-click="salvarCliente()">
<input type="button" value="Desfazer" ng-click="cancelarAlteracaoCliente()">

<br>
<br>
<input type="button" value="Pesquisar" ng-click="listaCliente()">
<br>
<br>
<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>CPF</th>
                    <th>Endereco</th>
                    <th>Telefone</th>
                    <th>Login</th>
                    <th>Senha</th>
                    <th>Email</th>
                    <th>ID Conta</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in listaCliente">
                    <td>{{cliente.idcliente}}</td>
                    <td>{{cliente.nm_cliente}}</td>
                    <td>{{cliente.sobre_cliente}}</td>
                    <td>{{cliente.cpf_cliente}}</td>
                    <td>{{cliente.end_cliente}}</td>
                    <td>{{cliente.tel_cliente}}</td>
                    <td>{{cliente.login_cliente}}</td>
                    <td>{{cliente.senha_cliente}}</td>
                    <td>{{cliente.email_cliente}}</td>
                    <td>{{cliente.fk_cliente_conta}}</td>
                    <td class="actions"><a class="btn btn-success btn-xs"
                        href="clientes/{{cliente.idcliente}}">Visualizar</a><a 
                        class="btn btn-warning btn-xs" href="edit-cliente" 
                        ng-click="alterarCliente(cliente)">Editar</a><a 
                        class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                        data-target="#delete-modal" ng-click="deleteCliente(cliente.idcliente)">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>