<div id="top" class="row">
	<div class="col-sm-3">
		<h2>Agencias</h2>
	</div>
	<div class="col-sm-6">

		<div class="input-group h2">
			<input name="data[search]" class="form-control" ng-model="search" id="search" type="text"
				placeholder="Pesquisar Itens">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit" ng-click="listarAgencia()">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>

	</div>
	<div class="col-sm-3">
		<a href="nova-agencia" class="btn btn-primary pull-right h2">Cadastrar</a>
	</div>
</div>
<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Numero</th>
                    <th>Telefone</th>
                    <th>Endereco</th>
                    <th>ID Banco</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="agencia in listaAgencia | filter: search">
                    <td>{{agencia.id_agencia}}</td>
                    <td>{{agencia.nm_agencia}}</td>
                    <td>{{agencia.num_agencia}}</td>
                    <td>{{agencia.tel_agencia}}</td>
                    <td>{{agencia.end_agencia}}</td>
                    <td>{{agencia.fk_agencia_banco}}</td>
                    <td class="actions">
                    	<a class="btn btn-success btn-xs" href="visualizar-agencia/{{agencia.id_agencia}}">Visualizar</a>
						<a class="btn btn-warning btn-xs" href="edit-agencia/{{agencia.id_agencia}}" ng-click="editarAgencia()">Editar</a>
                        <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal" ng-click="deleteAgencia(agencia.id_agencia)">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
