<br>
<input type="text" ng-model="funcionario.id_funcionario" style="width:22px;">
<input type="text" ng-model="funcionario.nm_funcionario">
<input type="text" ng-model="funcionario.sobre_funcionario">
<input type="text" ng-model="funcionario.cpf_funcionario">
<input type="text" ng-model="funcionario.end_funcionario">
<input type="text" ng-model="funcionario.tel_funcionario">
<input type="text" ng-model="funcionario.funcao_funcionario">
<input type="text" ng-model="funcionario.sal_funcionario">
<input type="text" ng-model="funcionario.cargah_funcionario">
<input type="text" ng-model="funcionario.email_funcionario">
<input type="text" ng-model="funcionario.login_funcionario">
<input type="text" ng-model="funcionario.senha__funcionario">
<input type="button" value="Salvar" ng-click="salvarFuncionario()">
<input type="button" value="Desfazer" ng-click="cancelarAlteracaoFuncionario()">

<br>
<br>
<input type="button" value="Pesquisar" ng-click="listarFuncionario()">
<br>
<br>
<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>CPF</th>
                    <th>PIS</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Função</th>
                    <th>Salário</th>
                    <th>Carga Horária</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Senha</th>
                    <th>ID Agencia</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="funcionario in listaFuncionario">
                    <td>{{funcionario.id_agencia}}</td>
                    <td>{{funcionario.nm_agencia}}</td>
                    <td>{{funcionario.sobre_agencia}}</td>
                    <td>{{funcionario.cpf_agencia}}</td>
                    <td>{{funcionario.pis_funcionario}}</td>
                    <td>{{funcionario.end_funcionario}}</td>
                    <td>{{funcionario.tel_funcionario}}</td>
                    <td>{{funcionario.funcao_funcionario}}</td>
                    <td>{{funcionario.sal_funcionario}}</td>
                    <td>{{funcionario.cargah_funcionario}}</td>
                    <td>{{funcionario.email_funcionario}}</td>
                    <td>{{funcionario.login_funcionario}}</td>
                    <td>{{funcionario.senha_funcionario}}</td>
                    <td>{{funcionario.fk_funcionario_agencia}}</td>
                    <td class="actions"><a class="btn btn-success btn-xs"
                        href="funcionario/{{funcionario.id_agencia}}">Visualizar</a><a 
                        class="btn btn-warning btn-xs" href="edit-func.html" 
                        ng-click="alterarFuncionario(funcionario)">Editar</a><a 
                        class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                        data-target="#delete-modal" ng-click="deleteFuncionario(funcionario.id_agencia)">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>