

    <div class="container">
        <h1>Editar Agência</h1>
        <br>
        <form action="index.html">
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="nm-banco">Nome: </label>
                    <input type="nome" class="form-control" id="nm-banco" placeholder="Digite o Nome">
                </div>

                ​<div class="form-group col-md-2"></div>

                <div class="form-group col-md-5">
                    <label for="num-banco">Número: </label>
                    <input type="numero" class="form-control" id="num-banco" placeholder="Digite o Número">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="index.html" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
