<div class="container">
	<h3 class="page-header">Editar Conta</h3>

	<div class="row">
		<div class="form-group col-md-2">
			<label for="inputID">ID</label> <input type="text"
				class="form-control" id="inputID" readonly ng-model="contaVisualizar.idConta">
		</div>
		<div class="form-group col-md-5">
			<label for="saldo-conta">Saldo: </label> <input type="saldo"
				class="form-control" id="saldo-conta" placeholder="Digite o Saldo"
				ng-model="contaVisualizar.saldo_conta">
		</div>

		<div class="form-group col-md-5">
			<label for="num-banco">Limite: </label> <input type="numero"
				class="form-control" id="num-banco" placeholder="Digite o Limite"
				ng-model="contaVisualizar.limite_conta">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-5">
			<label for="tp-conta">Tipo da Conta: </label> <input type="tipo"
				class="form-control" id="tp-conta"
				placeholder="Digite o Tipo da Conta" ng-model="contaVisualizar.tp_conta">
		</div>

		<div class="form-group col-md-2"></div>

		<div class="form-group col-md-5">
			<label for="num-conta">N&uacute;mero: </label> <input type="numero"
				class="form-control" id="num-conta" placeholder="Digite o Número"
				ng-model="contaVisualizar.num_conta">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<a href="/TCC-Entra21/dado-conta" class="btn btn-primary" ng-click="editarConta()">Salvar </a> 
			<a href="/TCC-Entra21/dado-conta" class="btn btn-default">Cancelar</a>
		</div>
	</div>
</div>
