<div class="container">
	<h3 class="page-header">Editar Ag&ecirc;ncia</h3>
		<div class="row">
			<div class="form-group col-md-2">
				<label for="inputID">ID</label> 
				<input type="text" class="form-control" id="inputID" readonly ng-model="agenciaVisualizar.id_agencia">
			</div>
			<div class="form-group col-md-5">
				<label for="nm-agencia">Nome: </label> 
				<input type="text"class="form-control" id="nm-agencia" placeholder="Digite o Nome"ng-model="agenciaVisualizar.nm_agencia">
			</div>
			<div class="form-group col-md-4">
				<label for="num-agencia">N&uacute;mero: </label>
				<input type="text" class="form-control" id="num-agencia" placeholder="Digite o N&uacute;mero" ng-model="agenciaVisualizar.num_agencia">
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="form-group col-md-4">
				<label for="tel-agencia">Telefone: </label> 
				<input type="text" class="form-control" id="tel-agencia" placeholder="Digite o Telefone" ng-model="agenciaVisualizar.tel_agencia">
			</div>

			<div class="form-group col-md-5">
				<label for="end-agencia">Endere&ccedil;o: </label> 
				<input type="text" class="form-control" id="end-agencia" placeholder="Digite o Endere&ccedil;o" ng-model="agenciaVisualizar.end_agencia">
			</div>

			<div class="form-group col-md-2">
				<label for="fk-agencia-banco">C&oacute;digo do Banco: </label> 
				<input type="text" class="form-control" id="fk-agencia-banco" placeholder="Digite o C&oacute;digo do Banco" ng-model="agenciaVisualizar.fk_agencia_banco">
			</div>
		</div>
		<hr />
		<div class="row">
	    <div class="col-md-12">
			<a href="/TCC-Entra21/dado-agencia" class="btn btn-primary" ng-click="editarAgencia()" >Salvar </a>
	        <a href="/TCC-Entra21/dado-agencia" class="btn btn-default">Cancelar</a>
	    </div>
	</div>	
</div>