<div class="container">
	<h3 class="page-header">Editar Banco</h3>

	<div class="row">
		<div class="form-group col-md-2">
			<label for="inputID">ID</label> <input type="text"
				class="form-control" id="inputID" readonly
				ng-model="funcVisualizar.id_funcionario">
		</div>
		<div class="form-group col-md-4">
			<label for="inputNmFuncionario">Nome: </label> <input type="text"
				class="form-control" id="inputNmFuncionario"
				placeholder="Digite o Nome" ng-model="funcVisualizar.nm_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputSobreFuncionario">Sobrenome: </label> <input
				type="text" class="form-control" id="inputSobreFuncionario"
				placeholder="Digite o Sobrenome" ng-model="funcVisualizar.sobre_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputCpfFuncionario">CPF: </label> <input type="text"
				class="form-control" id="inputCpfFuncionario"
				placeholder="Digite o CPF" ng-model="funcVisualizar.cpf_funcionario">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="inputEndFuncionario">Endereço: </label> <input
				type="text" class="form-control" id="inputEndFuncionario"
				placeholder="Digite o Endereço" ng-model="funcVisualizar.end_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputTelFuncionario">Telefone: </label> <input
				type="text" class="form-control" id="inputTelFuncionario"
				placeholder="Digite o Telefone" ng-model="funcVisualizar.tel_funcionario">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-3">
			<label for="inputFuncaoFuncionario">Função: </label> <input
				type="text" class="form-control" id="inputFuncaoFuncionario"
				placeholder="Digite a Função" ng-model="funcVisualizar.funcao_funcionario">
		</div>
		<div class="form-group col-md-3">
			<label for="inputSalFuncionario">Salário: </label> <input
				type="text" class="form-control" id="inputSalFuncionario"
				placeholder="Digite o Salário" ng-model="funcVisualizar.sal_funcionario">
		</div>
		<div class="form-group col-md-3">
			<label for="inputCargahFuncionario">Carga Horária: </label> <input
				type="text" class="form-control" id="inputCargahFuncionario"
				placeholder="Digite a Carga Horária"
				ng-model="funcVisualizar.cargah_funcionario">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-12">
			<label for="inputEmailFuncionario">Email: </label> <input type="text"
				class="form-control" id="inputEmailFuncionario"
				placeholder="Digite o Email" ng-model="funcVisualizar.email_funcionario">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="form-group col-md-4">
			<label for="inputLoginFuncionario">Login: </label> <input type="text"
				class="form-control" id="inputLoginFuncionario"
				placeholder="Digite o Login" ng-model="funcVisualizar.login_funcionario">
		</div>
		<div class="form-group col-md-4">
			<label for="inputSenhaFuncionario">Senha: </label> <input type="text"
				class="form-control" id="inputSenhaFuncionario"
				placeholder="Digite a Senha" ng-model="funcVisualizar.senha_funcionario">
		</div>

		<div class="form-group col-md-4">
			<label for="inputSenhaFuncionario">Confirme a Senha: </label> <input
				type="text" class="form-control" id="inputSenhaFuncionario"
				placeholder="Digite a Senha Novamente"
				ng-model="funcVisualizar.senha_funcionario">
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-md-12">
			<a href="/TCC-Entra21/dado-func" class="btn btn-primary" ng-click="editarFunc()">Salvar</a> 
			<a href="/TCC-Entra21/dado-func" class="btn btn-default">Cancelar</a>
		</div>
	</div>
</div>
