<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BanSys</title>
</head>
​
<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="./bootstrap/css/style.css" rel="stylesheet">

<body>
    ​
    ​
    ​
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
                    <img src="http://placehold.it/200x50&text=BanSys" alt="LOGO">
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class=" nav navbar-right top-nav">
                    <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#"
                            data-original-title="Início"><i class="fa fa-bar-chart-o"></i>
                        </a>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuário <b
                                class="fa fa-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-fw fa-user"></i> Editar Perfil </a></li>
                            <!-- fazer tela para editar senha -->
                            <!--<li><a href="#"><i class="fa fa-fw fa-cog"></i> Alterar Senha</a></li> -->
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Sair</a></li>
                        </ul>
                    </li>

                    </ul>

                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#submenu-1"><i
                                        class="fa fa-fw fa-search"></i> Cliente <i
                                        class="fa fa-fw fa-angle-down pull-right"></i></a>
                                <ul id="submenu-1" class="collapse">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Novo Cliente</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Consulta Cliente </a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Editar Cliente</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#submenu-2"><i
                                        class="fa fa-fw fa-search"></i> Conta <i
                                        class="fa fa-fw fa-angle-down pull-right"></i></a>
                                <ul id="submenu-2" class="collapse">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Nova Conta</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Consulta Conta </a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Editar Conta</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#submenu-3"><i
                                        class="fa fa-fw fa-search"></i> Funcionário <i
                                        class="fa fa-fw fa-angle-down pull-right"></i></a>
                                <ul id="submenu-3" class="collapse">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Nova Funcionário</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Consulta Funcionário </a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Editar Funcionário</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#submenu-4"><i
                                        class="fa fa-fw fa-search"></i> Agência <i
                                        class="fa fa-fw fa-angle-down pull-right"></i></a>
                                <ul id="submenu-4" class="collapse">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Nova Agência</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Consulta Agência </a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Editar Agência</a></li>
                                </ul>
                            </li>



                    </div>

        </nav>
        ​
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row" id="main">
                    <div class="col-sm-12 col-md-12 well" id="content">
                        <h1>Welcome Admin!</h1>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

    <script src="./bootstrap/js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>

</body>

</html>