    <div id="main" class="container-fluid">
        <br>
        <h3 class="page-header">Visualizar Funcionário</h3>
        <div id="actions" class="row">
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Nome</strong></p>
                    <p>{{funcionario.nm_funcionario}}</p>
                </div>

                <div class="col-md-4">
                    <p><strong>Sobrenome</strong></p>
                    <p>{{funcionario.sobre_funcionario}}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>CPF</strong></p>
                    <p>{{funcionario.cpf_funcionario}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Endereco</strong></p>
                    <p>{{funcionario.end_funcionario}}</p>
                </div>

                <div class="col-md-4">
                    <p><strong>PIS</strong></p>
                    <p>{{funcionario.pis_funcionario}}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Telefone</strong></p>
                    <p>{{funcionario.tel_funcionario}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Funcao</strong></p>
                    <p>{{funcionario.funcao_funcionario}}</p>
                </div>

                <div class="col-md-4">
                    <p><strong>Salário</strong></p>
                    <p>{{funcionario.sal_funcionario}}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Carga Horária</strong></p>
                    <p>{{funcionario.cargah_funcionario}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Email</strong></p>
                    <p>{{funcionario.email_funcionario}}</p>
                </div>

                <div class="col-md-4">
                    <p><strong>Login</strong></p>
                    <p>{{funcionario.login_funcionario}}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Senha</strong></p>
                    <p>{{funcionario.senha_funcionario}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <a href="index.html" class="btn btn-primary">Voltar</a>
                    <a href="edit-func.html" class="btn btn-default">Editar</a>
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                </div>
            </div>
            </form>
        </div>
    </div>