	<h3 class="page-header">Visualizar Ag&ecirc;ncia #{{agenciaVisualizar.id}}</h3>
		<div class="row">
			<div class="col-md-6">
				<p><strong>Nome</strong></p>
				<p>{{agenciaVisualizar.nm_agencia}}</p>
			</div>
			<div class="col-md-6">
				<p><strong>N&uacute;mero</strong></p>
				<p>{{agenciaVisualizar.num_agencia}}</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<p><strong>Telefone</strong></p>
				<p>{{agenciaVisualizar.tel_agencia}}</p>
			</div>
			<div class="col-md-6">
				<p><strong>Endere&ccedil;o</strong></p>
				<p>{{agenciaVisualizar.end_agencia}}</p>
			</div>
		</div>
		<hr>
		<div id="actions" class="row">
			<div class="col-md-12">
				<a href="/TCC-Entra21/dado-agencia" class="btn btn-default">Fechar</a>
			</div>
		</div>
