<meta charset="utf-8">
<h3 class="page-header">Visualizar Cliente{{clienteVisualizar.id}}</h3>

<div class="row">
	<div class="col-md-4">
		<p>
			<strong>ID</strong>
		</p>
		<p>{{clienteVisualizar.idcliente}}</p>
	</div>
	<div class="col-md-4">
		<p>
			<strong>Nome</strong>
		</p>
		<p>{{clienteVisualizar.nm_cliente}}</p>
	</div>

	<div class="col-md-4">
		<p>
			<strong>Sobrenome</strong>
		</p>
		<p>{{clienteVisualizar.sobre_cliente}}</p>
	</div>
	<div class="col-md-">
		<p>
			<strong>Endereço</strong>
		</p>
		<p>{{clienteVisualizar.end_cliente}}</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6">
		<p>
			<strong>Telefone</strong>
		</p>
		<p>{{clienteVisualizar.tel_cliente}}</p>
	</div>

	<div class="col-md-6">
		<p>
			<strong>CPF</strong>
		</p>
		<p>{{clienteVisualizar.cpf_cliente}}</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4">
		<p>
			<strong>Login</strong>
		</p>
		<p>{{clienteVisualizar.login_cliente}}</p>
	</div>

	<div class="col-md-4">
		<p>
			<strong>Senha</strong>
		</p>
		<p>{{clienteVisualizar.senha_cliente}}</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6">
		<p>
			<strong>Email</strong>
		</p>
		<p>{{clienteVisualizar.email_cliente}}</p>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-2">
		<p>
			<strong>ID Conta</strong>
		</p>
		<p>{{clienteVisualizar.fk_cliente_conta}}</p>
	</div>
</div>
<hr>
<div id="actions" class="row">
	<div class="col-md-12">
		
		<a href="/TCC-Entra21/dado-cliente" class="btn btn-default">Fechar</a>
	</div>
</div>

