
    <div id="main" class="container-fluid">
        <br>
        <h3 class="page-header">Visualizar Agência</h3>
        <div id="actions" class="row">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nome</strong></p>
                    <p>{{Valor do Campo}}</p>
                </div>

                <div class="col-md-6">
                    <p><strong>Número</strong></p>
                    <p>{{Valor do Campo}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <a href="index.html" class="btn btn-primary">Voltar</a>
                    <a href="edit-agencia.html" class="btn btn-default">Editar</a>
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                </div>
            </div>
            </form>
        </div>
    </div>