<br>
<input type="text" ng-model="agencia.id" style="width:22px;">
<input type="text" ng-model="agencia.nome">
<input type="text" ng-model="agencia.numero">
<input type="button" value="Salvar" ng-click="salvarAgencia()">
<input type="button" value="Desfazer" ng-click="cancelarAlteracaoAgencia()">

<br>
<br>
<input type="button" value="Pesquisar" ng-click="listarAgencia()">
<br>
<br>
<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Numero</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="agencia in listaAgencia">
                    <td>{{agencia.id}}</td>
                    <td>{{agencia.nome}}</td>
                    <td>{{agencia.numero}}</td>
                    <td class="actions"><a class="btn btn-success btn-xs"
                        href="agencias/{{agencia.id}}">Visualizar</a><a 
                        class="btn btn-warning btn-xs" href="edit-agencia.html" 
                        ng-click="alterarAgencia(agencia)">Editar</a><a 
                        class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                        data-target="#delete-modal" ng-click="deleteAgencia(agencia.id)">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>